<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Eliminacion Entrega</title>
</head>
<body>
    <div id="main-content" class="container mt-4">
        <h1>Eliminacion de Entrega</h1>
        <p>Formulario para eliminar una Entrega.</p>
		<form>
			<div class="b-3">
				<label for="exampleInputId" class="form-label">ID Entrega</label>
				<input type="id" class="form-control" id="exampleInputId" aria-describedby="idHelp">
				<div id="idHelp" class="form-text">Ingrese el ID de la entrega que desea eliminar</div>
			</div>
			<button type="submit" class="btn btn-primary">Eliminar</button>
		</form>
    </div>
</body>
</html>
