<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Eliminacion Entrega</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
		  crossorigin="anonymous"/>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
			crossorigin="anonymous"></script>
</head>
<body>
	<th:block th:replace="~{fragments/navbar :: navBar}"></th:block>
    <div id="main-content" class="container mt-4">
        <h1>Eliminacion de Entrega</h1>
        <p>Formulario para eliminar una Entrega.</p>
		<form>
			<div class="b-3">
				<label for="exampleInputId" class="form-label">ID Entrega</label>
				<input type="id" class="form-control" id="exampleInputId" aria-describedby="idHelp">
				<div id="idHelp" class="form-text">Ingrese el ID de la entrega que desea eliminar</div>
			</div>
			<button type="submit" class="btn btn-primary">Eliminar</button>
		</form>
    </div>
</body>
</html>
