<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Alta Entrega</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
		  crossorigin="anonymous"/>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
			crossorigin="anonymous"></script>
</head>
<body class="container-fluid">
<th:block th:replace="~{fragments/navbar :: navBar}"></th:block>
<div id="main-content" class="container-fluid">
	<section class="text-center p-2">
		<h1>Alta de Entrega</h1>
		<p>Formulario para dar de alta una Entrega.</p>
	</section>

	<section>
		<form th:action="@{/entrega/guardarEntrega}" method="post" th:object="${entrega}" class="container-fluid rounded-2 border border-primary p-4">

			<div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
				<span th:text="${errorMessage}"></span>
			</div>

			<div class="mb-3">
				<label for="familiaSelected" class="form-label">Ingrese el id de la familia a entregar</label>
				<select class="form-select" id="familiaSelected" th:field="*{nroFamilia}"
						th:classappend="${#fields.hasErrors('nroFamilia') ? 'is-invalid' : ''}">
					<option value="">Seleccione una familia</option>
					<option th:each="familia : ${listaFamilias}" th:value="${familia.nroFamilia}" th:text="${familia.nroFamilia + ' - ' + familia.nombre}"></option>
				</select>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('nroFamilia')}" th:errors="*{nroFamilia}"></div>
			</div>

			<div class="mb-3">
				<select class="form-select" id="preparacionSelected" th:field="*{idPreparacion}"
						th:classappend="${#fields.hasErrors('idPreparacion') ? 'is-invalid' : ''}">
					<option value="" selected>Seleccione una preparacion</option>
					<option th:each="preparacion : ${preparaciones}" th:value="${preparacion.id}" th:text="${'Id preparacion:' + preparacion.id + ' / nombre de la preapracion:  ' + preparacion.receta.nombre  + ' / cantidad en stock: '+ preparacion.stockRacionesRestantes}"></option>
				</select>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('idPreparacion')}" th:errors="*{idPreparacion}"></div>
			</div>

			<div class="mb-3">
				<label for="cantidadRaciones" class="form-label">Cantidad de Raciones</label>
				<input type="number" th:field="*{cantidadRaciones}" class="form-control" id="cantidadRaciones"
					   placeholder="Ingrese la cantidad de raciones a entregar" min="1" required
					   th:classappend="${#fields.hasErrors('cantidadRaciones') ? 'is-invalid' : ''}">
				<div class="invalid-feedback" th:if="${#fields.hasErrors('cantidadRaciones')}" th:errors="*{cantidadRaciones}"></div>
			</div>

			<button type="submit" class="btn btn-primary">Agregar entrega</button>
		</form>
	</section>

</div>
</body>
</html>