<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
          crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"></script>
    <title>Alta Preparacion</title>
</head>
<body>
	<th:block th:replace="~{fragments/navbar :: navBar}"></th:block>
    <div class="container mt-4">
        <h1>Preparaciones</h1>
        <p>Formulario para agregar una preparación al cronograma</p>

        <!-- Formulario de alta -->
        <div class="container mt-3">
            <div class="card">
                <div class="card-body">
                    <h4>Nueva Preparación</h4>
                    <hr/>
                    <form>
                        <div class="mb-3">
                            <label>Fecha Cocción</label>
                            <input type="date" required="required" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label>Receta</label>
                            <select class="form-select" th:field>

                            </select>
                        </div>
                        <div class="mb-3">
                            <label>Número de raciones a preparar</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</body>
</html>
