<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
          crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"></script>
    <title>Listado Preparacion</title>
</head>
<body>
	<th:block th:replace="~{fragments/navbar :: navBar}"></th:block>
    <div id="main-content" class="container mt-4">
        <h1>Listado de Preparaciones</h1>

        <!-- Mensajes de éxito o error -->
        <div th:if="${mensaje}" class="alert" th:classappend="'alert-' + ${tipoMensaje}" role="alert">
            <span th:text="${mensaje}"></span>
        </div>

            <div class="container-fluid mt-3">
                <div class="card">
                    <div class="card-body">
                        <a href="/preparaciones/altaPreparacion" class="btn btn-success btn-sm">Agregar preparación</a>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Fecha Cocción</th>
                                <th>Receta</th>
                                <th>Raciones preparadas</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="preparacion: ${preparacion}">
                                <td th:text="${preparacion.fechaCoccion}"></td>
                                <td th:text="${preparacion.receta.nombre}"></td>
                                <td th:text="${preparacion.totalRacionesPreparadas}"></td>
                                <td>
                                    <a th:href="@{/preparaciones/editar/{id}(id=${preparacion.id})}" class="btn btn-primary btn-sm">Modificar</a>
                                    <a th:href="@{/preparaciones/eliminar/{id}(id=${preparacion.id})}" class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>
